<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>
      <li class="has_submenu">
        <a id='home-nav-link' href="/p-cloud-cache/<%=vars.product_version_dash%>/index.html">About Pivotal Cloud Cache <%=vars.product_version%></a>
        <ul>
          <li>
            <a href="/p-cloud-cache/<%=vars.product_version_dash%>/product-snapshot.html">Product Snapshot</a>
          </li>
          <li>
            <a href="/p-cloud-cache/<%=vars.product_version_dash%>/on-demand-services.html">Pivotal Cloud Cache and Other Pivotal Cloud Foundry Services</a>
          </li>
         <li>
            <a href="/p-cloud-cache/<%=vars.product_version_dash%>/architecture.html">Pivotal Cloud Cache Architecture</a>
          </li>
          <li>
            <a href="/p-cloud-cache/<%=vars.product_version_dash%>/usage.html">Recommended Usage and Limitations</a>
          </li>
          <li>
            <a href="/p-cloud-cache/<%=vars.product_version_dash%>/security.html">Security</a>
          </li>
        </ul>
      </li>
      <li class="has_submenu">
        <a href="/p-cloud-cache/<%=vars.product_version_dash%>/operator.html">Operator Guide</a>
        <ul>
          <li class="has_submenu">
            <a href="/p-cloud-cache/<%=vars.product_version_dash%>/prepare-for-installation.html">Preparing for Installation</a>
          <ul>
            <li>
              <a href="/p-cloud-cache/<%=vars.product_version_dash%>/on-demand-networking.html">Networking for On-Demand Services</a>
            </li>
            <li>
              <a href="/p-cloud-cache/<%=vars.product_version_dash%>/prepare-TLS.html">Preparing for Transport Layer Security (TLS)</a>
            </li>
            <li>
              <a href="/p-cloud-cache/<%=vars.product_version_dash%>/create-UAA-client.html">Create a User Account and Authentication (UAA) Client</a>
            </li>
          </ul>
          </li>
          <li>
              <a href="/p-cloud-cache/<%=vars.product_version_dash%>/install-configure.html">Installing and Configuring Pivotal Cloud Cache</a>
          </li>
          <li>
            <a href="/p-cloud-cache/<%=vars.product_version_dash%>/UAA-config.html">Configuring User Account and Authentication (UAA) Roles</a>
          </li>
          <li>
            <a href="/p-cloud-cache/<%=vars.product_version_dash%>/set-quotas.html">Setting Service Instance Quotas</a>
          </li>
          <li>
            <a href="/p-cloud-cache/<%=vars.product_version_dash%>/upgrade.html">Upgrading Pivotal Cloud Cache</a>
          </li>
          <li>
            <a href="/p-cloud-cache/<%=vars.product_version_dash%>/migrate-to-TLS.html">Migrating to a Cluster with Transport Layer Security (TLS) Enabled</a>
          </li>
          <li>
            <a href="/p-cloud-cache/<%=vars.product_version_dash%>/update-plan.html">Updating Pivotal Cloud Cache Plans</a>
          </li>
          <li>
            <a href="/p-cloud-cache/<%=vars.product_version_dash%>/uninstall.html">Uninstalling Pivotal Cloud Cache</a>
          </li>
          <li>
            <a href="/p-cloud-cache/<%=vars.product_version_dash%>/backupandrestore.html">Backing Up and Restoring Service Instances</a>
          </li>
          <li>
            <a href="/p-cloud-cache/<%=vars.product_version_dash%>/WAN-bi-reconnect.html">Restoring a WAN Connection</a>
          </li>
          </ul>
        </li>
      <li class="has_submenu">
        <a href="/p-cloud-cache/<%=vars.product_version_dash%>/working-with-SI.html">Working with Service Instances</a>
        <ul>
          <li>
            <a href="/p-cloud-cache/<%=vars.product_version_dash%>/view-plans.html">View Available Plans</a>
          </li>
          <li>
            <a href="/p-cloud-cache/<%=vars.product_version_dash%>/create-instance.html">Create or Delete a Service Instance</a>
          </li>
          <li>
            <a href="/p-cloud-cache/<%=vars.product_version_dash%>/update-instance.html">Updating a Pivotal Cloud Cache Service Instance</a>
          <li>
            <a href="/p-cloud-cache/<%=vars.product_version_dash%>/monitoring.html">Monitoring Pivotal Cloud Cache Service Instances</a>
          </li>
          <li class="has_submenu">
            <a href="/p-cloud-cache/<%=vars.product_version_dash%>/WAN-setup.html">Set Up Service Instances Across a Wide Area Network (WAN)</a>
            <ul>
              <li>
                <a href="/p-cloud-cache/<%=vars.product_version_dash%>/WAN-bi-setup.html">Set Up a Bidirectional System</a>
              </li>
              <li>
                <a href="/p-cloud-cache/<%=vars.product_version_dash%>/WAN-uni-setup.html">Set Up a Unidirectional System</a>
              </li>
              <li>
                <a href="/p-cloud-cache/<%=vars.product_version_dash%>/WAN-addl-bi-setup.html">Set Up an Additional Bidirectional Interaction</a>
              </li>
              <li>
                <a href="/p-cloud-cache/<%=vars.product_version_dash%>/WAN-addl-uni-setup.html">Set Up an Additional Unidirectional Interaction</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/p-cloud-cache/<%=vars.product_version_dash%>/inline-setup.html">Setting Up Servers for an Inline Cache</a>
          </li>
          <li>
            <a href="/p-cloud-cache/<%=vars.product_version_dash%>/accessing-instance.html">Accessing a Service Instance</a>
          </li>
          <li>
            <a href="/p-cloud-cache/<%=vars.product_version_dash%>/using-pcc.html">Using gfsh</a>
          </li>
          <li>
            <a href="/p-cloud-cache/<%=vars.product_version_dash%>/Spring-SessionState.html">Connecting a Spring Boot App to Pivotal Cloud Cache with Session State Caching</a>
          </li>
          <li>
            <a href="/p-cloud-cache/<%=vars.product_version_dash%>/Spring-CQs.html">Creating Continuous Queries Using Spring Data GemFire</a>
          </li>
        </ul>
      </li>
    <li class="has_submenu">
        <a href="/p-cloud-cache/<%=vars.product_version_dash%>/app-development.html">Application Development</a>
        <ul>
        <li>
        <a href="/p-cloud-cache/<%=vars.product_version_dash%>/design-patterns.html">Design Patterns</a>
        </li>
        <li>
        <a href="/p-cloud-cache/<%=vars.product_version_dash%>/region-design.html">Region Design</a>
        </li>
        <li>
          <a href="/p-cloud-cache/<%=vars.product_version_dash%>/events.html">Handling Events</a>
        </li>
        <li class="has_submenu">
          <a href="/p-cloud-cache/<%=vars.product_version_dash%>/example-applications.html">Example Applications</a>
          <ul>
            <li><a href="/p-cloud-cache/<%=vars.product_version_dash%>/use-sample-app.html">An Example Java App</a></li>
            <li><a href="/p-cloud-cache/<%=vars.product_version_dash%>/SBapp1.html">An Example Spring Boot App</a></li>
          </ul>
        </li>
        <li>
          <a href="/p-cloud-cache/<%=vars.product_version_dash%>/steps-to-run-app.html">Steps to Run an App</a>
        </li>
        <li>
          <a href="/p-cloud-cache/<%=vars.product_version_dash%>/tls-enabled-app.html">Developing an App Under Transport Layer Security (TLS)</a>
        </li>
        <li>
          <a href="/p-cloud-cache/<%=vars.product_version_dash%>/session-caching.html">HTTP Session State Caching</a>
        </li>
        </ul>
    <li>
    <a href="/p-cloud-cache/<%=vars.product_version_dash%>/troubleshooting.html">Troubleshooting</a>
    </li>
    <li>
    <a href="/p-cloud-cache/<%=vars.product_version_dash%>/release-notes.html">Release Notes</a>
    </li>
  </ul>
  </div>
</div><!--end of sub-nav-->
