<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>
      <li class="has_submenu">
        <a id='home-nav-link' href="/p-cloud-cache/<%=vars.product_version_dash%>/index.html">About <%=vars.product_name%> <%=vars.product_version%></a>
        <ul>
          <li>
            <a href="/p-cloud-cache/<%=vars.product_version_dash%>/product-snapshot.html">Product Snapshot and Version Compatibility</a>
          </li>
          <li>
            <a href="/p-cloud-cache/<%=vars.product_version_dash%>/on-demand-services.html"><%=vars.product_name%> and Other Services</a>
          </li>
         <li>
            <a href="/p-cloud-cache/<%=vars.product_version_dash%>/architecture.html"><%=vars.product_name%> Architecture</a>
          </li>
          <li>
            <a href="/p-cloud-cache/<%=vars.product_version_dash%>/usage.html">Recommended Usage and Limitations</a>
          </li>
          <li>
            <a href="/p-cloud-cache/<%=vars.product_version_dash%>/security.html">Security</a>
          </li>
        </ul>
      </li>
      <li class="has_submenu">
        <a href="/p-cloud-cache/<%=vars.product_version_dash%>/operator.html">Operator Guide</a>
        <ul>
          <li class="has_submenu">
            <a href="/p-cloud-cache/<%=vars.product_version_dash%>/prepare-for-installation.html">Preparing for Installation</a>
          <ul>
            <li>
              <a href="/p-cloud-cache/<%=vars.product_version_dash%>/on-demand-networking.html">Networking for On-Demand Services</a>
            </li>
            <li>
              <a href="/p-cloud-cache/<%=vars.product_version_dash%>/prepare-TLS.html">Preparing for Transport Layer Security (TLS)</a>
            </li>
            <li>
              <a href="/p-cloud-cache/<%=vars.product_version_dash%>/create-UAA-client.html">Create a User Account and Authentication (UAA) Client</a>
            </li>
          </ul>
          </li>
          <li>
              <a href="/p-cloud-cache/<%=vars.product_version_dash%>/install-configure.html">Installing and Configuring <%=vars.product_name%></a>
          </li>
          <li>
            <a href="/p-cloud-cache/<%=vars.product_version_dash%>/memory-allocation.html">VM Memory Allocation</a>
          </li>
          <li>
            <a href="/p-cloud-cache/<%=vars.product_version_dash%>/UAA-config.html">Configuring User Account and Authentication (UAA) Roles</a>
          </li>
          <li>
            <a href="/p-cloud-cache/<%=vars.product_version_dash%>/set-quotas.html">Setting Service Instance Quotas</a>
          </li>
          <li>
            <a href="/p-cloud-cache/<%=vars.product_version_dash%>/upgrade.html">Upgrading <%=vars.product_name%> </a>
          </li>
          <li>
            <a href="/p-cloud-cache/<%=vars.product_version_dash%>/update-plan.html">Updating <%=vars.product_name%> Plans</a>
          </li>
          <li>
            <a href="/p-cloud-cache/<%=vars.product_version_dash%>/uninstall.html">Uninstalling <%=vars.product_name%></a>
          </li>
          <li>
            <a href="/p-cloud-cache/<%=vars.product_version_dash%>/backupandrestore.html">Backing Up and Restoring Service Instances</a>
          </li>
          <li>
            <a href="/p-cloud-cache/<%=vars.product_version_dash%>/op-instance-sharing.html">Enable Service-Instance Sharing</a>
          </li>
          <li>
            <a href="/p-cloud-cache/<%=vars.product_version_dash%>/rotating-ca.html">Rotating Certificates</a>
          </li>
          <li>
            <a href="/p-cloud-cache/<%=vars.product_version_dash%>/WAN-bi-reconnect.html">Restoring a WAN Connection</a>
          </li>
          </ul>
        </li>
      <li class="has_submenu">
        <a href="/p-cloud-cache/<%=vars.product_version_dash%>/working-with-SI.html">Working with Service Instances</a>
        <ul>
          <li>
            <a href="/p-cloud-cache/<%=vars.product_version_dash%>/view-plans.html">View Available Plans</a>
          </li>
          <li>
            <a href="/p-cloud-cache/<%=vars.product_version_dash%>/create-instance.html">Create or Delete a Service Instance</a>
          </li>
          <li>
            <a href="/p-cloud-cache/<%=vars.product_version_dash%>/dev-upgrade.html">Upgrade a Single Service Instance</a>
          </li>
          <li>
            <a href="/p-cloud-cache/<%=vars.product_version_dash%>/update-instance.html">Updating a <%=vars.product_name%> Service Instance</a>
          <li>
            <a href="/p-cloud-cache/<%=vars.product_version_dash%>/monitoring.html">Monitoring <%=vars.product_name%> Service Instances</a>
          </li>
          <li>
            <a href="/p-cloud-cache/<%=vars.product_version_dash%>/dev-instance-sharing.html">Service-Instance Sharing</a>
          </li>
          <li class="has_submenu">
            <a href="/p-cloud-cache/<%=vars.product_version_dash%>/WAN-setup.html">Set Up Service Instances Across a Wide Area Network (WAN)</a>
            <ul>
              <li>
                <a href="/p-cloud-cache/<%=vars.product_version_dash%>/WAN-mutual-credentials.html">Establishing Mutually Trusted TLS Credentials</a>
              </li>
              <li>
                <a href="/p-cloud-cache/<%=vars.product_version_dash%>/WAN-bi-TLS-setup.html">Set Up a Bidirectional System</a>
              </li>
              <li>
                <a href="/p-cloud-cache/<%=vars.product_version_dash%>/WAN-uni-TLS-setup.html">Set Up a Unidirectional System</a>
              </li>
              <li>
                <a href="/p-cloud-cache/<%=vars.product_version_dash%>/WAN-addl-bi-TLS-setup.html">Set Up an Additional Bidirectional Interaction</a>
              </li>
              <li>
                <a href="/p-cloud-cache/<%=vars.product_version_dash%>/WAN-addl-uni-TLS-setup.html">Set Up an Additional Unidirectional Interaction</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/p-cloud-cache/<%=vars.product_version_dash%>/inline-setup.html">Setting Up Servers for an Inline Cache</a>
          </li>
          <li>
            <a href="/p-cloud-cache/<%=vars.product_version_dash%>/accessing-instance.html">Accessing a Service Instance</a>
          </li>
          <li>
            <a href="/p-cloud-cache/<%=vars.product_version_dash%>/using-pcc.html">Using gfsh</a>
          </li>
          <li>
            <a href="/p-cloud-cache/<%=vars.product_version_dash%>/Spring-SessionState.html">Connecting a Spring Boot App to <%=vars.product_name%> with Session State Caching</a>
          </li>
          <li>
            <a href="/p-cloud-cache/<%=vars.product_version_dash%>/Spring-CQs.html">Creating Continuous Queries Using Spring Data GemFire</a>
          </li>
        </ul>
      </li>
    <li class="has_submenu">
        <a href="/p-cloud-cache/<%=vars.product_version_dash%>/app-development.html">Application Development</a>
        <ul>
        <li>
        <a href="/p-cloud-cache/<%=vars.product_version_dash%>/design-patterns.html">Design Patterns</a>
        </li>
        <li>
        <a href="/p-cloud-cache/<%=vars.product_version_dash%>/region-design.html">Region Design</a>
        </li>
        <li>
          <a href="/p-cloud-cache/<%=vars.product_version_dash%>/events.html">Handling Events</a>
        </li>
        <li class="has_submenu">
          <a href="/p-cloud-cache/<%=vars.product_version_dash%>/example-applications.html">Example Applications</a>
          <ul>
            <li><a href="/p-cloud-cache/<%=vars.product_version_dash%>/use-sample-app.html">An Example Java App</a></li>
            <li><a href="/p-cloud-cache/<%=vars.product_version_dash%>/SBapp1.html">An Example Spring Boot App</a></li>
          </ul>
        </li>
        <li>
          <a href="/p-cloud-cache/<%=vars.product_version_dash%>/steps-to-run-app.html">Steps to Run an App</a>
        </li>
        <li>
          <a href="/p-cloud-cache/<%=vars.product_version_dash%>/tls-enabled-app.html">Developing an App Under Transport Layer Security (TLS)</a>
        </li>
        <li>
          <a href="/p-cloud-cache/<%=vars.product_version_dash%>/session-caching.html">Tomcat Session State Caching</a>
        </li>
        <li>
          <a href="/p-cloud-cache/<%=vars.product_version_dash%>/spring-session.html">Spring Session Caching</a>
        </li>
        </ul>
    <li>
    <a href="/p-cloud-cache/<%=vars.product_version_dash%>/troubleshooting.html">Troubleshooting</a>
    </li>
    <li>
    <a href="/p-cloud-cache/<%=vars.product_version_dash%>/release-notes.html">Release Notes</a>
    </li>
  </ul>
  </div>
</div><!--end of sub-nav-->
